# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Build artifacts
build/
dist/
wheels/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw_data/
data/cleaned_chess.csv
data/final_chess.csv

# Trained models
# models/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log